{% extends "base.html.twig" %}

{% block title %}
Starshop 
{% endblock %}

{% block header %}

{% endblock %}


{% block body %}



<h1>Starshop, Goddamn it's so good !</h1>

<div> Brought through by <a href="ough by <a href="URL_ADDRESS.com/Starshop-API/Starshop-API">Starshop-API</a> </div>

<table>
    <tr>
        <th>Vibe</th>
        <th>Whore Price</th>
        <th>Bitch description</th>
    </tr>
    <tr>
        <td>Male</td>
        <td>100$</td>
        <td>Very nice</td>
    </tr>
    <tr>
        <td>Female</td>
        <td>200$</td>
        <td>Classy blond hair style</td>
    </tr>
</table>


{% endblock %}


